<%= form_for(@task) do |f| %>
<div class="inupt">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="inupt">
  <%= f.label :details %>
  <%= f.text_field :details %>
</div>
<div class="btn">
  <%= f.submit value: "Create !" %>
</div>
<% end %>
